.abcbiz-wp-menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    background: transparent;
    transition: all 0.5s ease;
}

.abcbiz-wp-menu-container ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.abcbiz-wp-menu-container ul li {
    position: relative;
    display: flex;
    align-items: center;
}

.abcbiz-wp-menu-container ul li:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -19px;
    border-top: 1px solid #c4c4c1;
    width: 16px;
    transform: rotate(115deg);
    transform-origin: 0% 0%;
    margin-top: -8px;
}

.abcbiz-wp-menu-container ul li:last-child:after {
    display: none;
}

.abcbiz-wp-menu-container ul ul li:after {
    display: none;
}

.abcbiz-wp-menu-container ul li:last-child a {
    padding-right: 0;
}

.abcbiz-wp-menu-container ul li.hover,
.abcbiz-wp-menu-container ul li:hover {
    position: relative;
}

.abcbiz-wp-menu-container ul ul {
    z-index: 99999;
    background: #efeeef;
    width: 220px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 130%;
    left: 0;
    transition: all 0.5s ease;
    border-top: 2px solid #813eee;
    display: block;
}

.abcbiz-wp-menu-container ul ul li {
    background: #efeeef;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.abcbiz-wp-menu-container ul ul li:last-child {
    border-bottom: 0;

}

.abcbiz-wp-menu-container > ul > li > a {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0 17px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    transition: color 0.5s ease;
}

.abcbiz-wp-menu-container ul ul li a {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 5px 13px;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 11px;
    line-height: 1.5;
    width: 100%;
}

.abcbiz-wp-menu-container ul ul li.hover,
.abcbiz-wp-menu-container ul ul li:hover {
    background: #efeeef;
    position: relative;
}

.abcbiz-wp-menu-container ul ul ul {
    left: 100%;
    top: 20%;
    border-top: 1px solid #dadada;
}

.abcbiz-wp-menu-container ul li:hover>ul {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

.abcbiz-wp-menu-container ul ul li:hover>ul {
    visibility: visible;
    top: 0;
    opacity: 1;
}

.abcbiz-wp-menu-container ul li .abcbiz-submenu-icon {
    vertical-align: middle;
    margin-left: -10px;
    margin-right: 15px;
    margin-top: 3px;
}

.abcbiz-wp-menu-container ul li .abcbiz-submenu-icon svg {
    width: 20px;
    height: 20px;
    display: block;
}

.abcbiz-wp-menu-container ul ul li .abcbiz-submenu-icon svg{
    width: 16px !important;
    height: 16px !important;
    display: block;
}

#abcbiz-responsive-menu, .abcbiz-mob-menu-icon-wrap {
    display: none;
    outline: none;
}

#abcbiz-mobilemenu {
    display: none;
}

@media screen and (max-width: 950px) {

    .abcbiz-wp-menu-container {
        display: none;
    }

    .abcbiz-mob-menu-icon-wrap {
        display: flex;
        justify-content: flex-end;
    }

    #abcbiz-responsive-menu svg {
        width: 32px; 
        height: 32px;
    }
    
    #abcbiz-responsive-menu {
        display: inline-block;
        cursor: pointer;
        transition: all 0.5s;
    }
    
    #abcbiz-mobilemenu {
        display: none;
        flex-direction: column;
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        border-top: 2px solid #6146ec;
        background: #fff;
        z-index: 4572;
    }
    
    #abcbiz-mobilemenu ul {
        list-style: none;
        margin: 0;
        padding: 5px 0;
        display: flex;
        flex-direction: column;
    }
    
    #abcbiz-mobilemenu ul li {
        border-bottom: 1px solid #ededed;
        margin-left: 0;
        position: relative;
        box-sizing: border-box;
    }

    #abcbiz-mobilemenu ul li:last-child {
        border-bottom: 0;
    }

    #abcbiz-mobilemenu ul li a {
        color: #333; 
        font-size: 16px;
        padding: 6px 15px;
        text-transform: uppercase;
        width: 100%;
        display: inline-block;
    }
    #abcbiz-mobilemenu ul li ul li a {
        color: #444; 
        font-size: 14px; 
        text-transform: none;
    }
    #abcbiz-mobilemenu ul.sub-menu {
        position: static; 
        opacity: 1; 
        border: none; 
        margin: 0; 
        padding: 0; 
        display: none; 
        transition: none;
    }
    #abcbiz-mobilemenu .sub-toggle {
        background: #6146ec; 
        color: #ffffff; 
        cursor: pointer; 
        height: 30px; 
        line-height: 30px; 
        position: absolute; 
        right: 15px; 
        text-align: center; 
        top: 3px; 
        width: 30px; 
        display: block;
        font-size: 18px;
    }

}


