.elementor-editor-active #elementor-panel-categories{
    display: flex;
    flex-direction: column;
}
#elementor-panel-category-abcbiz-category {
    order: -1;
}

#elementor-panel-category-abcbiz-wc-category {
    order: -1;
}

.abcbiz-elementor-wc-product-tabs-info-message {
    background: #eee;
    color: #333;
    font-size: 14px;
    line-height: 1.4;
    font-style: italic;
    border-left: 3px solid blueviolet;
    padding: 10px 5px;

}
.abcbiz-multi-icon:after {
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    width: 15px;
    height: 15px;
    display: block;
    background-image: url(../img/addons-icon.svg);
    background-position: center;
}