.abcbiz-templates-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}


.abcbiz-single-template-thumb img {
    max-width: 100%;
    border-radius: 5px;
}


.abcbiz-single-template-contents {
    position: relative;
    /* padding: 6px; */
    box-shadow: 0px 4px 30px 0px #0000001A;
}

.abcbiz-single-template-thumb {
    position: relative;
}

.abcbiz-single-template-thumb::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000000c9;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.3s ease;
}
.abcbiz-single-template:hover .abcbiz-single-template-thumb::after, .abcbiz-single-template:hover  .abcbiz-single-template-content{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: all 0.3s ease;
}
.abcbiz-single-template-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s ease;
}

.abcbiz-single-template-content h2 {
    color: #fff;
    text-align: center;
}

.abcbiz-single-template-content-btn {
    display: flex;
    gap: 10px;
}

.abcbiz-single-template-content-btn a {
    text-decoration: none;
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    background: #FFFFFF;
    border-radius: 80px;
    display: inline-block;
    padding: 11px 17px;
}

.abcbiz-single-template-title {
    text-align: center;
}

.abcbiz-single-template-content-btn a:hover {
    background: linear-gradient(90deg, #0049E7 0%, #C835F8 100%);
    border-radius: 80px;
    color: #FFFFFF;
}